<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JaredFramework.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>JaredTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>JaredUI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>JaredUITests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7F84B61E1CC506790059A82B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B319235E24DE76A2001904BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B33278761CB2CB1300BBDD3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B3327DCD22068176009DD882</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B39A65D01CC1F8BC003E26B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B39EC1711CB01F55002C3161</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
